.news-section {
    background: url("../../assets/images/bag-img/bg-white.png"), $bg-w;
    background-repeat: no-repeat;
    background-size: 100% 248%;
    background-position: top right;
    


  h1 { 
    margin-bottom: 50px;
    text-align: left;
  }
  .card-area {
    cursor: pointer;
    margin-bottom: 50px;
    padding: 0 15px;
    .img-area {
      width: 378px;
      height: auto; 
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
      img {
        width: 100%;
        height: auto;
        transform: scale(1) !important;
        transition: all 0.2s !important;
      }
    }
    .text-area {
      margin-top: 23px;
      padding: 0 15px;
      .date {
        font-size: 12px;
        font-family: $roboto-medium;
        color: $text-color-2;
      }
      p {
        margin-top: 13px;
      }
    }
  }

  a {
    .card-hover-news {
      img {
        transform: scale(1) !important;
        opacity: 1;
        transition: all 0.2s !important;
      }
      p {
        opacity: 1;
        text-decoration: none;
        transition: all 0.2s;
      }
    }
  }
  a:hover {
    .card-hover-news {
      img {
        transform: scale(1.2) !important;
        opacity: 1;
        transition: all 0.2s !important;
      }
      p {
        opacity: 0.7;
        text-decoration: underline;
        transition: all 0.2s;
      }
    }
  }

  .read-more{
    width: 100%;
    text-align: right;
    h5 {
   
      text-align: right;
      margin-right: 278px;
      position: relative;
      display: block;
      cursor: pointer;
      transition: all 0.2s;
     
      display: inline-block;
    }
    h5:after {
      content: "";
      width: 259px;
      height: 6px;
      top: 50%;
      transform: translateY(-50%);
      right: -27rem;
      position: absolute;
      background-color: $red-2;
      z-index: 5;
      transition: all 0.2s;
    }
    h5:hover {
      opacity: 0.6;
      transition: all 0.2s;
    }
    h5:hover:after {
      background-color: $text-color-2;
      transition: all 0.2s;
    }
 
    h5:before {
      content: "";
      width: 0%;
      height: 6px;
      bottom: -4px;
      left: 0;
      position: absolute;
      background-color: $red-2;
      z-index: 5;
      opacity: 0;
      transition: all 0.2s;
    }
    h5:hover:before{
      width: 100%;
      opacity: 1;
      transition: all 0.2s;
    }
   }
}

.our-business {
  padding: 130px 0;
  height: auto;
  position: relative;
 background: url("../../assets/images/bag-img/bg-red-big.png"), $blue-drak;
  background-repeat: no-repeat;
  background-size:100% auto;
  background-position: top center;

  .content-area-p-none {

    
    h1 {
      color: $white;
      text-align: left;
      margin-bottom: 70px;
      margin-left: 3.65vw;
      margin-right: auto;
      display: block;
    }
  }
  .content-area-news {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: url("../../assets/images/slider/middle-slider/color-hover.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom center;

    .news-slide {
      height: auto !important;
      .carousel-indicators {
        z-index: 8;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 3.65vw;
        justify-content: space-between;
        top: 0%;
        border-bottom: 1px solid $border-color;
        height: 150px;
        li {
          width: 160px;
          height: 112px;
          background-color: transparent;
          opacity: 1;
          overflow: visible;
          padding-bottom: 2rem;
          position: relative;
          .logo-area {
            width: 160px;
            height: 112px;
            position: relative;
            z-index: 1111;

            img {
              width: 160px;
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
            }
          }
          @keyframes mymove {
            0% {
              left: 0px;
            }
            50% {
              left: 15px;
            }
            100% {
              left: 0px;
            }
          }
          .logo-area::after {
            content: "";
            width: 0;
            height: 5px;
            background-color: $white;
            bottom: -33px;
            left: 0;
            position: absolute;
            z-index: 99999999;
          }
          .logo-area:hover {
            img {
              opacity: 0.6;
              transition: all 0.2s;
            }
          }
          .logo-area:hover::after {
            width: 100%;
            transition: 0.5s;
          }
        }
        .active {
          .logo-area::after {
            content: "";
            width: 100%;
            height: 5px;
            background-color: $white;
            bottom: -33px;
            left: 0;
            position: absolute;
            z-index: 99999999;
          }
        }
      }
      .carousel-inner {
        padding-top: 275px;
        padding-bottom: 0;
        top: 230px;

        position: initial;
        .innner-content-area {
          position: relative;
          display: block;
          width: 100%;
          .content-head {
            position: relative;
          }
          .head {
            display: flex;
            height: 100px;
            width: 100%;
            align-items: center;
            margin-left: 3.65vw;
            margin-right: auto;
            .logo-area {
              text-align: right;
              max-width: 530px;
              img {
                width: 100%;
                height: auto;
              }
            }
            .pra {
              margin-left: 80px;
              max-width: 600px;

              p {
                width: 480px;
                font-size: 19px;
                color: $white;
              }
            }
          }
          .body-area {
            display: block;
            max-width: 1680px;
            margin-top: 120px;
            margin-left: auto;
            margin-right: auto;
            position: relative;

            .img-area {
              width: 45%;
              float: left;
              margin-bottom: 90px;
              img {
                width: 100%;
                height: auto;
              }
            }
            .text-area {
              display: inline-block;
              width: 50%;
              padding-left: 80px;
              h2 {
                color: $white;
                margin-bottom: 40px;
                margin-top: 30px;
                img{
                  width: 535px;
                }
              }
              p {
                color: $white;
                font-size: 19px;
                margin-bottom: 90px;
              }
            }
          }
          .footer-area {
            display: block;
            padding-bottom: 80px;

            .display-icon {
              width: 100%;
              padding: 0 65px;
              display: flex;
              margin-left: auto;
              margin-right: auto;
              justify-content: space-between;
              .card-area {
                border-top: solid 1px $border-color;
                padding: 50px 16px;
                text-align: center;
                width: 31%;
                height: auto;
                img {
                  width: auto;
                  height: 135px;
                  color: $white;
                }
                h6 {
                  color: $white;
                  margin: 22px 0;
                }
                p {
                  font-family: $roboto-regular;
                  color: $p-color;
                }
              }
            }
           .icon-4{
            .card-area {
              border-top: solid 1px $border-color;
              padding: 50px 16px;
           
              width: 23%;
              height: auto;
              img {
     
                height: 105px;
              
              }
          
            }
           }
          
          }
        }
      }
    }
  }
}

.our-network {
  padding-top: 0;
  .container {
    img {
      width: 100%;
      height: auto;
    }
  }
}

.leadership {
  background: url("../../assets/images/bag-img/bg-red-white.png"), $red-2;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  .content-area {
  
    padding: 130px 3.65vw;
    h1 {
      color: $white;
      margin-bottom: 65px;
    }
    .led {
      display: block;
    }
    .key {
      display: none;
    }
    .card-row {
      margin-left: auto;
      margin-right: auto;
      .card-area {
        width: 25%;
        padding: 50px 50px;
        text-align: center;
        border: solid 1px #c85865;
        .imag-area {
          img {
            width: 92%;
            height: auto;
          }
        }
        h6 {
          margin-top: 33px;
          margin-bottom: 20px;
          font-size: 19px;
          font-family: $roboto-medium;
          color: $white;
        }
        p {
          font-size: 13px;
          color: #f49ba5;
        }
      }
    }
  }
}
.our-network {
  background-color: $bg-w;
  img {
    width: 100%;
  }
}
.contact {
  background-color: #fafafa;
  padding-top: 95px;
  .botom-logo {
    max-width: 826px;
    margin-left: 0;
    margin-right: auto;
  }
  .content-area {
    h1 {
      color: $text-color;
    }
    a {
      margin-top: 40px;
      margin-bottom: 30px;
      text-decoration: underline;
      color: $text-color;
      font-size: 30px;
      font-weight: bold;
      position: relative;
      z-index: 5;
    }
    a::before {
      content: "";
      width: 0%;
      height: 5rem;

      position: absolute;
      left: 0;
      bottom: -5px;
      z-index: -1;
      background-color: $red-2;
    }
    a:hover{
      color: $white;
    }
    a:hover::before{
     width: 100%;
    transition: all 0.2s;
    }

 
    p {
      color: #656565;
    }
  }
  .logo-area {
    margin-top: 95px;
    padding: 36px 1rem;
    background-color: $white;
    .logo {
      width: auto;
      margin-right: 65px;
      height: 40px;

      img {
        width: auto;
        height: 100%;
        cursor: pointer;
      }
      img:hover {
        opacity: 0.6;
        transform: scale(1.01);
        transition: all 0.2s;
      }
    }
  }
}
footer {
  .content-area {
    padding: 22px 3.65vw;
    background-color: $blue-drak;
    p {
      font-weight: bold;
      color: $white;
      font-size: 12px;
    }
  }
}

.news-all-page-section {
  position: relative;
  background-color: $bg-w;
  margin-top: 0;
  // margin-top: -200px;
}
.news-page {
  background: url("../../assets/images/bag-img/bg-white.png"), $bg-w;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  border-bottom: solid 1px #e6e6e6;

  padding-top: 200px;
  .content-area {
    h1 {
      text-align: left;
      font-size: 72px;
      margin-bottom: 96px;
    }
    .nav-bar {
      display: flex;
      .search-news {
        .input-group {
          position: relative;
          input::placeholder {
            font-size: 24px;
            font-family: $bebas-pro-bold;
            line-height: 2rem;
            border: none;
            font-weight: bold;
            color: $text-color;
          }
          input:focus::placeholder{ 
            color: transparent;

          }
          input:focus ~ .input-group-btn{ 
            display: none;
          }
          .form-control {
            border: none;
            background-color: transparent;
            padding: 2.5rem 0.75rem;
            padding-right: 4rem;
            border-bottom: solid 5px $red-2;
            font-size: 24px;
            font-family: $bebas-pro-bold;
            line-height: 2rem;
            font-weight: bold;
            color: $text-color;
          }

          .form-control:focus {
            color: $text-color;
            background-color: transparent;
            border: none;
            outline: 0;
            box-shadow: none;
            border-bottom: solid 5px $red-2;
          }
          .input-group-btn {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            .btn-default {
              i {
                font-size: 20px;
                color: $text-color;
              }
            }
          }
          .input-group-btn:focus {
            background-color: transparent;
            border: none;
            outline: 0;
            box-shadow: none;
          }
        }
      }
    }
  }
  .year {
    position: relative;
    padding: 0px 27px;
    padding-left: 25px;
   
    .title {
      top: 9px;
      position: absolute;
      font-size: 24px;
      left: 30px;
    }
    .custom-select {
      display: inline-block;
      width: 100%;
      height: 0;
      padding: 0;
      font-size: 2rem;
      font-weight: 400;
     
      color: #495057;
      vertical-align: middle;
      background: none;
      border: none;
      border-radius: 0;
      position: relative;
      font-family: Arial;
      appearance: none;
    }
    .custom-select {
      select {
        display: none; /*hide original SELECT element: */
      }
    }
    .select-selected::before{
      content: '';
      width: 100%;
      height: 5px;
      background-color: $red-2;
      position: absolute;
      left: 0;
      bottom: -10px;

    }
    .select-items div,
    .select-selected {
      padding-left: 6rem;
      line-height: 4rem;
      // border: 1px solid transparent;
      // border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
      cursor: pointer;
      // background-color:transparent;
      color: $red-2;
      position: relative;
      font-family: $bebas-pro-bold;
      font-size: 24px;
      padding-left: 8rem;
      top: -4px;
 

    }
    .select-items div {
      border-bottom: 1px solid #e6e6e6;
   
      padding: 5px;
     padding-left: 15px;
 
    }
    /* Style the arrow inside the select element: */
    .select-selected::after {
      position: absolute;
      content:url('../../assets/images/icon/caret-down-solid.svg');
      top: 50%;
      transform: translateY(-50%) ;
      right: 10px;
      width: 15px;
      height: auto;
     
      transition: rotate .2s;
     
     z-index: 7;
    }
    .select-arrow-active {
      font-size: 24px;
      color: $red-2;
      padding-left: 8rem;
      top: -4px;
    }
    /* Point the arrow upwards when the select box is open (active): */
    .select-selected.select-arrow-active:after {
      top: 0%;
     transform: rotate(-180deg);
     transition: rotate .2s;
      
    }

    /* style the items (options), including the selected item: */

    /* Style items (options): */
    .select-items {
      position: absolute;
      background-color: transparent;
      color: $text-color !important;
      top: 50px;
      left: 0;
      right: 0;
      z-index: 77;
      font-family: $bebas-pro-bold;
      font-size: 24px;
      box-shadow: $box-shadwo;
      background-color: $white;
    }

    /* Hide the items when the select box is closed: */
    .select-hide {
      display: none;
    }

    .select-items div.same-as-selected {
      color: $red-2;
    }
    .select-items div {
      color: $text-color;
    }
  }

  .news-card-area{
    .card-area {
      cursor: pointer;
      margin-bottom: 50px;
      padding: 0 15px;
      .img-area {
        width: 378px;
        height: auto;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        img {
          width: 100%;
          height: auto;
          transform: scale(1) !important;
          transition: all 0.2s !important;
        }
      }
      .text-area {
        margin-top: 23px;
        padding: 0 15px;
        .date {
          font-size: 12px;
          font-family: $roboto-medium;
          color: $text-color-2;
        }
        p {
          margin-top: 13px;
        }
      }
    }
  
    a {
      .card-hover-news {
        img {
          transform: scale(1) !important;
          opacity: 1;
          transition: all 0.2s !important;
        }
        p {
          opacity: 1;
          text-decoration: none;
          transition: all 0.2s;
        }
      }
    }
    a:hover {
      .card-hover-news {
        img {
          transform: scale(1.2) !important;
          opacity: 1;
          transition: all 0.2s !important;
        }
        p {
          opacity: 0.7;
          text-decoration: underline;
          transition: all 0.2s;
        }
      }
    }
  }
 
}
.modal-veiw {
  display: none;
}

.news-single-page-section {
  margin-top: 0px;
  border-bottom: solid 1px #e6e6e6;
  background: url("../../assets/images/bag-img/bg-white.png"), $bg-w;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
}
.news-page-section {
  padding-top: 200px;
  border-bottom: solid 1px #e6e6e6;

  .content-area {
    display: flex;
    .news {
      h1 {
        font-size: 72px;
        margin-left: 0rem;
        line-height: 60px;
        text-transform: uppercase;
      }
    }
    .text-area {
      margin-left: 135px;
      width: 60%;
      .date {
        font-size: 15px;
        font-family: $roboto-medium;
        color: #656565;
        display: inline-block;
        margin-top: 41px;
        padding: 0 15px;
      }
      .head {
        position: relative;
        padding: 0 15px;
        margin-top: 22px;
        width: 100%;
        justify-content: space-between;
        h3 {
          width: 80%;
          float: left;
          display: block;
          
        }
        .pdf-icon {
          float: right;
          img {
            width: 80px;
            height: auto;
          }
        }
      }
      .head::after {
        content: "";
        width: 99%;
        height: 5px;
        left: 0;
        top: -80px;
        background-color: #e6e6e6;
        position: absolute;
        z-index: 5;
      }
      .head::before {
        content: "";
        width: 12%;
        height: 5px;
        left: 0;
        top: -80px;
        background-color: $red-2;
        position: absolute;
        z-index: 6;
      }
      .text-body {
        width: 100%;
        img {
          margin-top: 65px;
          width: 100%;
          margin-bottom: 65px;
        }
        p {
          padding: 0 15px;
          font-size: 17px;
          text-align: justify;
          font-family: $roboto-medium;
          line-height: 3rem;
        }
      }
      .news-list {
        padding-left: 15px;
        margin: 98px 0;
        width: 100%;
        overflow: hidden;
        h5 {
          text-align: left;
          background-color: $white;
          z-index: 5;
          display: inline-block;
          position: relative;
          line-height: 3.5rem;
          opacity: 1;
          transition: all .2s;
        }
        h5:after{
          content: "";
          width: 0%;
          height: 5px;
          left: 0;
          bottom: -1px;
          background-color: $red-2;
          position: absolute;
          z-index: 4;
          transition: all .2s;
        }
        position: relative;
      }
      .news-list::after {
        content: "";
        width: 85%;
        height: 5px;
        left: 120px;
        top: 50%;
        transform: translateY(-50%);
        background-color: $red-2;
        position: absolute;
        z-index: 4;
     
        transition: all .2s;
      }
      .news-list:hover::after{
        background-color:$text-color-2 ;
        opacity: .6;
        transition: all .2s;
      }
      .news-list:hover{
        h5{
          opacity: .6;
          transition: all .2s;
        }
        h5:after{
          width: 100%;
          transition: all .2s;
        }
      }
    }
  }
}
