* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: NotoSansCJKjp;
  src: url("../../assets/fonts/NotoSansCJKjp-Light.otf") format("opentype");
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1 {
  font-size: 4.6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.2rem;
}
